/* owner */
.captchaContainer{
    transform: skew(15deg,10deg);
}

.captcha{
    color: rgb(30, 255, 0);
    font-size: 4vw;
    user-select: none;
    width: fit-content;
}

.loaderGif{
    width: 10vw;
    height: auto;
}

.replyContainer{
    position: fixed;
    color: white;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-color: rgb(123, 107, 160);
    z-index: 9999999;
}

.replyContainer span{
    font-size: 2vw;
}

.replyContainer__close{
    color: red;
    cursor: pointer;
}

.tinPagination a{
    cursor: pointer;
}